<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chiruhas.android.zerodha">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3940256099942544~3347511713" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".View.Activities.SortActivity"
            android:parentActivityName=".View.Activities.EquityActivity"></activity>
        <activity
            android:name=".View.Activities.PositionActivity"
            android:parentActivityName=".View.Activities.MainActivity" />
        <activity
            android:name=".View.Activities.FuturesActivity"
            android:parentActivityName=".View.Activities.MainActivity" />
        <activity
            android:name=".View.Activities.CurrencyActivity"
            android:label="@string/title_activity_currency"
            android:parentActivityName=".View.Activities.MainActivity" />
        <activity
            android:name=".View.Activities.BracketActivity"
            android:label="@string/title_activity_bracket"
            android:parentActivityName=".View.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Brokerage.commodity.CommodityBrokerageActivity"
            android:label="@string/title_activity_commodity_brokerage"
            android:parentActivityName=".View.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Brokerage.currency.CurrencyBrokerage"
            android:label="@string/title_activity_currency_brokerage"
            android:parentActivityName=".View.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".View.Activities.AboutActivity"
            android:parentActivityName=".View.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Activities.CommodityActivity"
            android:parentActivityName=".View.Activities.MainActivity" />
        <activity
            android:name=".View.Brokerage.equity.EquityBrokerage"
            android:label="@string/title_activity_equity_brokerage"
            android:parentActivityName=".View.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activities.EquityActivity"
            android:parentActivityName=".View.Activities.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>